body {
	background: #414141;
	font-family: sans-serif;
}

h1 {
	margin-top: 20px;
	text-align: center;
	color: white;
}

#wrapper {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

#color-picker {
}

#hue-picker {
	margin-left: 10px;
}

#display {
	width: 150px;
	display: inline-block;
	text-align: left;
	margin-right: 20px;
}

#info-text {
	margin-top: 10px;
	height: 190px;
	padding: 10px;
	background: #313131;
}

.info {
	font-size: 14px;
	color: white;
}
